@model List<Product>

<div class="container">
    <div class="row pt-4 pb-5">
        <div class="col-6"><h2 class="text-primary">Product List</h2></div>
        <div class="col-6 text-end">
            <a asp-controller="Product" asp-action="Upsert" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i>  Create New Product
            </a>
        </div>
    </div>
</div>
<table id="tableData" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>ISBN</th>
            <th>Price</th>
            <th>Author</th>
            <th>Category</th>
            <th></th>
        </tr>
    </thead>
</table>

@section Scripts {
    <script src="~/js/product.js"></script>
}