@model ProductViewModel

<form method="post" enctype="multipart/form-data">
    <input asp-for="Product.Id" hidden />
    <input asp-for="Product.ImageUrl" hidden />
    <div class="border p-3 mt-4">
        <div class="row">
            <div class=@(Model.Product !=null && !string.IsNullOrEmpty(Model.Product.ImageUrl) ? "col-10" : "col-12")>
                <div class="row pb-2">
                    <h2 class="text-primary">@(Model.Product != null && Model.Product.Id != Guid.Empty ? "Update" : "Create") Product</h2>
                    <hr />
                </div>
                <div asp-validation-summary="ModelOnly" class="alert alert-dismissible alert-danger"><button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>
                <div class="mb-3 row p-1">
                    <label asp-for="Product.Title" class="p-0"></label>
                    <input asp-for="Product.Title" class="form-control" />
                    <span asp-validation-for="Product.Title" class="text-danger"></span>
                </div>
                <div class="mb-3 row p-1">
                    <label asp-for="Product.Description" class="p-0"></label>
                    <textarea asp-for="Product.Description" class="form-control"></textarea>
                    <span asp-validation-for="Product.Description" class="text-danger"></span>
                </div>
                <div class="mb-3 row p-1">
                    <label asp-for="Product.ISBN" class="p-0"></label>
                    <input asp-for="Product.ISBN" class="form-control" />
                    <span asp-validation-for="Product.ISBN" class="text-danger"></span>
                </div>
                <div class="mb-3 row p-1">
                    <label asp-for="Product.Author" class="p-0"></label>
                    <input asp-for="Product.Author" class="form-control" />
                    <span asp-validation-for="Product.Author" class="text-danger"></span>
                </div>
                <div class="mb-3 row p-1">
                    <label asp-for="Product.ListPrice" class="p-0"></label>
                    <input asp-for="Product.ListPrice" class="form-control" />
                    <span asp-validation-for="Product.ListPrice" class="text-danger"></span>
                </div>
                <div class="mb-3 row p-1">
                    <label asp-for="Product.Price" class="p-0"></label>
                    <input asp-for="Product.Price" class="form-control" />
                    <span asp-validation-for="Product.Price" class="text-danger"></span>
                </div>
                <div class="mb-3 row p-1">
                    <label asp-for="Product.Price50" class="p-0"></label>
                    <input asp-for="Product.Price50" class="form-control" />
                    <span asp-validation-for="Product.Price50" class="text-danger"></span>
                </div>
                <div class="mb-3 row p-1">
                    <label asp-for="Product.Price100" class="p-0"></label>
                    <input asp-for="Product.Price100" class="form-control" />
                    <span asp-validation-for="Product.Price100" class="text-danger"></span>
                </div>
                <div class="mb-3 row p-1">
                    <label asp-for="Product.CategoryId" class="p-0"></label>
                    <select asp-for="Product.CategoryId" asp-items="@Model.CategoryList" class="form-select">
                        <option disabled selected>--Select Category--</option>
                    </select>
                    <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
                </div>
                <div class="mb-3 row p-1">
                    <label asp-for="Product.ImageUrl" class="p-0"></label>
                    <input type="file" name="file" asp-for="Product.ImageUrl" class="form-control" />
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-6 mr-2">
                            @if (Model.Product != null && Model.Product.Id != Guid.Empty)
                            {
                                <button type="submit" class="btn btn-primary form-control" style="width:150px">Update</button>
                            }
                            else
                            {
                                <button type="submit" class="btn btn-primary form-control" style="width:150px">Create</button>
                            }
                        </div>
                        <div class="col-6 text-end">
                            <a asp-controller="Product" asp-action="" class="btn btn-outline-secondary form-control" style="width:150px">Back to list</a>
                        </div>
                    </div>
                </div>
            </div>
            @if (Model.Product != null)
            {
                <div class="col-2">
                    <img src="@Model.Product.ImageUrl" width="100%" />
                </div>
            }
        </div>

    </div>
</form>

@section Scripts {
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'anchor autolink charmap codesample emoticons lists table visualblocks wordcount',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | align lineheight | numlist bullist indent outdent | emoticons charmap',
        });
    </script>
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}