@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Views/Shared/_Layout.cshtml";
    }
}

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-primary bg-gradient mt-0 py-4">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="py-2 text-white ">Manage your account</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row p-4">
            <div>
                <h3>Change your account settings</h3>
                <hr />
                <div class="row">
                    <div class="col-md-3">
                        <partial name="_ManageNav" />
                    </div>
                    <div class="col-md-9">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @RenderSection("Scripts", required: false)
}
