@page
@model BookShopRazor_Temp.Pages.Categories.DeleteModel

<form method="post">
    <input asp-for="Category.Id" hidden/>
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Delete Category</h2>
            <hr />
        </div>
        <div asp-validation-summary="ModelOnly" class="alert alert-dismissible alert-danger"><button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>
        <div class="mb-3 row p-1">
            <label asp-for="Category.Name" class="p-0"></label>
            <input asp-for="Category.Name" class="form-control" disabled />
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Category.DisplayOrder" class="p-0"></label>
            <input asp-for="Category.DisplayOrder" class="form-control" disabled />
        </div>
        <div class="container">
            <div class="row">
                <div class="col-6 mr-2">
                    <button type="submit" class="btn btn-danger form-control" style="width:150px">Delete</button>
                </div>
                <div class="col-6 text-end">
                    <a asp-page="/Categories/Index" class="btn btn-outline-secondary form-control" style="width:150px">Back to list</a>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}