@model Company

<form method="post" enctype="multipart/form-data">
    <input asp-for="Id" hidden />
    <input asp-for="Created" hidden />
    <div class="border p-3 mt-4">
        <div class="row">
            <div class="col-12" >
                <div class="row pb-2">
                    <h2 class="text-primary">@(Model.Id == Guid.Empty  ? "Create" : "Create") Company</h2>
                    <hr />
                </div>
                <div asp-validation-summary="ModelOnly" class="alert alert-dismissible alert-danger"><button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>
                <div class="mb-3 row p-1">
                    <label asp-for="Name" class="p-0"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="mb-3 row p-1">
                    <label asp-for="StreetAddress" class="p-0"></label>
                    <input asp-for="StreetAddress" class="form-control"></input>
                    <span asp-validation-for="StreetAddress" class="text-danger"></span>
                </div>
                <div class="mb-3 row p-1">
                    <label asp-for="City" class="p-0"></label>
                    <input asp-for="City" class="form-control" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
                <div class="mb-3 row p-1">
                    <label asp-for="State" class="p-0"></label>
                    <input asp-for="State" class="form-control" />
                    <span asp-validation-for="State" class="text-danger"></span>
                </div>
                <div class="mb-3 row p-1">
                    <label asp-for="PostalCode" class="p-0"></label>
                    <input asp-for="PostalCode" class="form-control" />
                    <span asp-validation-for="PostalCode" class="text-danger"></span>
                </div>
                <div class="mb-3 row p-1">
                    <label asp-for="PhoneNumber" class="p-0"></label>
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-6 mr-2">
                            @if (Model.Id == Guid.Empty)
                            {
                                <button type="submit" class="btn btn-primary form-control" style="width:150px">Create</button>
                            }
                            else
                            {
                                <button type="submit" class="btn btn-primary form-control" style="width:150px">Update</button>
                            }
                        </div>
                        <div class="col-6 text-end">
                            <a asp-controller="Company" asp-action="" class="btn btn-outline-secondary form-control" style="width:150px">Back to list</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}